.addBtn{
    text-align: right;
}

.editBtn{
    justify-content: center;
    padding: 0px;
    margin: 10px;
}

.tableStyle{
    padding:50px
}

.welcomeMsg{
    padding: 50px 10px 5px;
    justify-content: center;
}
.subtitleMsg{
    padding-bottom: 10px;
    justify-content: center;
}

.tbodyScroll{
    overflow-y: auto;
    height: 60vh;
    width: 100%;
}


