.msg{
    color: black;
    text-align: center;
}

.welcomeMsg{
    margin-right: 50px;
    padding: 50px;
    text-align: center;
    justify-content: center;
}

.cardBodyStyle{
    width: '18rem';
    height: 200;
}

.cardStyle{
    text-align: center;
}

.buttonText{
    text-align: center;
}

.navRow{
    text-align: center;
    vertical-align: middle;
}
