.msg{
    color: black;
    text-align: center;
}

.welcomeMsg{
    padding: 50px;
    text-align: center;
}

.cardBodyStyle{
    width: '18rem';
    height: 200;
}

.cardStyle{
    text-align: center;
}

.buttonText{
    text-align: center;
}
